.Chat
  .RightHeader
    .RightHeader__group
      .RightHeader__group-name 
        = @group.name
      %ul.RightHeader__member-list 
        %li.RightHeader__member
          Member :
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group), class: "RightHeader__edit-button" do
      Edit
  .MessageField
    = render @messages

  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__content
        = f.text_field :content, class: 'Form__input', placeholder: 'type a message'
        = f.label :image, class: 'Form__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Form__hidden'
      = f.submit 'Send', class: 'Form__submit'